html{overflow: hidden;}
.main_com,.menu_nav{padding: 0;}
.menu_nav{width:20%;float: left;background: url("../images/title_bg.png") repeat;}
.logo{margin: 33px 70px 29px 50px;}
/*bootstrap*/
.container{padding:0;}
.navbar-nav > .nav_li{float: none;background: url("../images/menu_bg.png") repeat-x;font-size: 16px;height: 52px;}
.navbar-nav > .nav_li:hover{background: url("../images/menu_bg_hover.png") no-repeat;}
.navbar-nav > .nav_li a:hover{color:#fff;}
.navbar-nav .nav_li .menu_icon{position: absolute;background:url("../images/icon_menu.png") no-repeat;left: -4px;top:7px;display: inline-block;width: 4px;height: 5px;}
.navbar-nav > .nav_li span {position: relative;display: none;padding: 0 4px;height: 20px;line-height: 20px;font-size: 12px;color: #b2b6b6;min-width: 39px;background: rgba(3,214,152,.21);margin-left:11px;text-align: center;border-radius: 3px;}
.navbar-nav > .nav_li span b{display: none;font-weight: normal;}
@media (min-width: 768px){
    .navbar-nav{float:  none;}
}


#main_content{margin:6px 0 6px 6px;overflow: auto;position: relative;}
.index_box{background: url("../images/title_bg.png") repeat;position: relative;}
.customer_content{background: url("../images/home_main_bg.png") center center no-repeat;width: 318px;height: 318px;position: absolute;top:50%;left:50%;margin:-159px 0 0 -159px;line-height: 318px;text-align: center;}


.main_com{float: left;width: 80%;}
.search_box{height: 46px;background: url("../images/title_bg.png") repeat;position:relative;}
.search{background: url("../images/search-bg.png") no-repeat;width:353px;height:38px;/*line-height:38px;*/margin-top:4px;margin-right: 10px;float: right;border: none;padding-left:5px;}
.search_icon{background: url("../images/search-ico.png") no-repeat;position: absolute;right: 17px;top:15px;width:17px;height: 17px;}
.footer{height: 45px;background: url("../images/title_bg.png") repeat;line-height: 45px;text-align: center; }

@media (max-width: 767px){
    #content{padding: 0;}
    .menu_nav{position: absolute;top:0;}
    .menu_nav{width: 100%;}
    .main_com{width: 100%;margin-top:67px;}
    .logo {float: left;margin: 5px 30px 5px 20px;width: 80px;position: absolute;}
    .navbar{float: right;margin-right: 10px;margin-top: 10px;}
    .search_box{height: 80px;}
    #main_content {margin: 0 0 6px 0;}
    .customer_content{width: 200px;height: 200px;position: absolute;top: 50%;left: 50%;margin: -100px 0 0 -100px;   line-height:200px;text-align: center;background-size:200px 200px; }
    .menu_nav{background: rgba(0,0,0,.7);
    z-index: 20000;}
    .navbar-collapse{box-shadow: none;}
    .nav .mobel_li{font-size: 16px;
        font-family: "Microsoft Yahei";
        height: 40px;line-height: 40px;border-bottom:1px solid rgba(255, 255, 255, .1);}
    .nav .mobel_li span{font-family:"Arial";float: left;margin-right: 7px;}
    .nav .mobel_li a{color:#fff;}
    .nav .mobel_li a:hover{color:#03d698;}
    .nav .mobel_li p{float: left;background: url("../images/dian.png") left 8px no-repeat;padding-left:12px;}
}
@media (min-width: 768px) and (max-width: 991px) {
    .menu_nav{width:35%;}
    .main_com{width: 65%;}
}
@media (min-width: 992px) and (max-width: 1200px) {
    .menu_nav{width:28%;}
    .main_com{width: 72%;}
}
.navbar-toggle.mytoggle{background:url("../images/close_m.png") no-repeat transparent; background-size: 30px 30px;width:30px;height: 30px;border:none;}
.navbar-toggle.mytoggle:hover{background-color:transparent;}
.navbar-toggle.mytoggle span{display: none;}