/*滚动条*/
.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{width: 10px;}
/*.mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar{background-color: rgba(0,0,0,.3);}*/
/*wedding*/
.wedding_box{background: url("../images/title_bg.png") repeat;}
.wedding_list{margin: 0;width: 100%;position: relative;}
.wedding_box li .pro_name{background: url("../images/pro_titlebg.png") no-repeat;position: absolute;top:50%;left:50%;margin:-75px 0 0 -75px;width:150px;height:150px;line-height:150px;text-align: center;}
.pop_up_box{width: 868px;position: absolute;display: none;z-index: 9999;}
.img_close{position: absolute;right: -5px;top: -5px;background: url("../images/close.png") no-repeat;width: 26px;
    height: 26px;cursor: pointer;}
.img_close:hover{background: url("../images/close.png") 0 -26px no-repeat;}
/*about*/
.about_box{background: url("../images/content_bg.png") repeat;background-size: 100% 100%;color:#a6a6a6;}
.about_box .about_left{width: 40%;float: left;height: 100%;}
.about_left ul{margin-left:46px;}
.temp_title {padding: 30px 0 6px 20px;background: url(../images/line_title.png) left bottom no-repeat;}
.temp_title .about_num{margin-left:15px;}
.temp_title .about_title {font-weight: bold;margin-left: 15px;}
.temp_com {height: 96px;background: url(../images/ablout_line.png) left bottom no-repeat;}
.temp_com .table_about{left: 70px;position: relative;top: 13px;}
.table_about .t_left{width: 30%;}
.table_about .t_right{width: 70%;}
.about_box .about_right{width: 60%;float: left;height: 100%;}
.temp_two_text{height: 213px;background: url(../images/about_r_bg.png) left no-repeat;overflow: hidden;}
.temp_two_text div{padding:7px 5px 0 65px;max-width: 568px;display: block;}
.temp_two_text li{list-style-type: disc;margin-left:20px;}
/*taking css*/
.taking_box{background: url("../images/title_bg.png") repeat;}
.taking_list{margin:0;position: relative;}
.taking_list li div{margin:12px 6px 0 6px;border:2px solid #989ea7;border-radius: 3px;padding:3px;background: url("../images/li_bg.png") repeat;}
.taking_list li .img{text-align: center;}
.taking_list li .taking_text{margin:10px 8px 11px;line-height: 18px;font-family: "Microsoft Yahei";max-height:54px;overflow: hidden; }
.taking_list li img{cursor: pointer;}
.taking_up{position: absolute;left: 0;top:0;width: 100%;height: 100%;background: rgba(0,0,0,.5);display: none;}
.taking_up_box{width: 700px;height: 553px;position: absolute;display: none;z-index: 9999;border:3px solid #303337;border-radius: 3px;background: #0b0b0b;max-height: 545px;}
.big_taking{height: 517px;width:346px;float: left;margin:14px;}
.big_taking img{border:1px solid #2e2e2e;border-radius: 2px;}
.taking_com{float: left;}
.taking_com .taking_name{color:#03d698;font-size: 24px;height: 76px;line-height: 76px;text-align: center;font-family: Arial;}
.taking_com .takign_text{font-size: 14px;max-width: 267px;margin-left:18px;line-height: 30px;font-family: "微软雅黑";text-indent: 24px;}
.taking_close{position: absolute;right: -8px;top: -10px;background: url("../images/close.png") no-repeat;
    width: 26px;height: 26px;cursor: pointer;}
.taking_close:hover{background: url("../images/close.png") 0 -26px no-repeat;}
@-webkit-keyframes zoomIn {
       0% {
           opacity: 0;
           -webkit-transform: scale3d(.3, .3, .3);
           -moz-transform: scale3d(.3, .3, .3);
           -ms-transform: scale3d(.3, .3, .3);
           transform: scale3d(.3, .3, .3);
       }
       50% {
           opacity: 1;
       }
   }
@keyframes zoomIn {
    0% {
        opacity: 0;
        -webkit-transform: scale3d(.3, .3, .3);
        -moz-transform: scale3d(.3, .3, .3);
        -ms-transform: scale3d(.3, .3, .3);
        transform: scale3d(.3, .3, .3);
    }
    50% {
        opacity: 1;
    }
}
.zoomIn {
    -webkit-animation-name: zoomIn;
    animation-name: zoomIn;
}
.animated {
    -webkit-animation-duration: 2s;
    -ms-animation-duration: 2s;
    -moz-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-fill-mode: both;
    -ms-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    animation-fill-mode: both;
}

/*弹出框*/
.thickdiv{display:none;position:fixed;top:0;left:0;z-index:10000001;width:100%;height:100%;background:#000;border:0;filter:alpha(opacity=15);opacity:.15;}
.thickbox{display:none;position:fixed;top:0;left:50%;z-index:10000002;overflow:hidden;padding:0 4px 4px 0;background:url(../images/bg_shadow.gif) no-repeat -4px 0;margin-left:-175px;margin-top:180px;}
*html,*html body{background-image:url(about:blank);background-attachment:fixed;}
*html .thickbox{position:absolute;top:expression(eval(document.documentElement.scrollTop));}
.thicktitle{height:27px;padding:0 10px;border:solid #C4C4C4;border-width:1px 1px 0;background:#F3F3F3;line-height:27px;font-family:arial;font-size:14px;font-weight:bold;color:#333;}
.thickclose:link,.thickclose:visited{display:block;position:absolute;z-index:100000;top:7px;right:12px;overflow:hidden;width:15px;height:15px;background:url("../images/bg_thickbox.gif") no-repeat 0 -18px;font-size:0;line-height:100px;}
.thickcon{overflow:auto;background:#fff;border:solid #C4C4C4;border-width:1px;padding:10px;}
*html .thickdiv{position:absolute;}
/*preview*/
#preview{width:868px;height:564px;margin:0 auto;padding:5px;zoom:1;overflow:hidden;}
#spec-n1{float:left;width:720px;height:540px;overflow:hidden;position:relative;z-index:5;zoom:1;border: 3px solid rgb(0, 0, 0);box-shadow: 0px 0 2px 0px rgb(207, 206, 202);background: #000;}
#spec-n1 .o-img{width:720px;height:540px;text-align:center;}
#spec-n1 .switch{width:720px;height:540px;position:absolute;z-index:10;top:0;left:0;}
#spec-n1 img{max-width:720px;max-height:540px;_height:384px;}
#spec-n5{position:relative;float:right;width:134px;height:540px;padding:25px 0px;zoom:1;border: 3px solid rgb(0, 0, 0);box-shadow: 0px 0 2px 0px rgb(207, 206, 202);background: #000;}
#spec-list{width:134px;height:490px;overflow:hidden;}
#spec-list ul{height:490px;overflow:hidden;margin:0;}
#spec-list li{width:134px;height:125px;}
#spec-list img{padding:2px;border:1px solid #E8E8E8;}
#spec-list .curr img{padding:1px;border:2px solid #ffd300;}
#spec-n5 .control{position:absolute;width:60px;height:19px;background-repeat:no-repeat;cursor:pointer;margin-left: 38px;}
#spec-top{top:-2px;background:url(../images/up_arrow.png) no-repeat;}
/*#spec-top.disabled{background-position:-85px -124px;}*/
#spec-bottom{bottom:5px;background:url("../images/down_arrow.png") no-repeat;}
#spec-bottom.disabled{background-position:-139px -61px;}
#intro{float:left;width:720px;height:25px;line-height:25px;text-align:center;overflow:hidden;font-size:12px;}
#foward{display:block;width:360px;height:540px;float:left;cursor:url(../images/foward.ico),pointer;background:#fff;filter:alpha(opacity=0);-moz-opacity:0;opacity:0;}
#foward.disabled,#next.disabled{cursor:default;}
#next{display:block;width:360px;height:540px;float:right;cursor:url(../images/next.ico),pointer;background:#fff;filter:alpha(opacity=0);-moz-opacity:0;opacity:0;}
.thickcon{line-height:40px;text-align:center}

@media (min-width: 768px){
    .taking_list li{float: left;padding:0;position: absolute;left: 0;top: 0;
        -webkit-transition: all .7s ease-out .1s;
        -moz-transition: all .7s ease-out;
        -o-transition: all .7s ease-out .1s;
        transition: all .7s ease-out .1s;
    }
    .wedding_list li{float: left;padding: 13px 10px 0;cursor: pointer;position: absolute;left: 0;top: 0;
        -webkit-transition: all .7s ease-out .1s;
        -moz-transition: all .7s ease-out;
        -o-transition: all .7s ease-out .1s;
        transition: all .7s ease-out .1s;
    }
}
@media (max-width: 767px){
    .about_left ul{margin-left:0px;}
    .temp_com .table_about{left:20px;}
    .table_about .t_right {width: 65%;padding-left:5%;}
    .wedding_list li{float: left;padding-top:13px;text-align: center;cursor: pointer;}
    .wedding_info_list li{float: left;padding-top:13px;text-align: center;}
    .taking_list li{float: left;padding:0;}
    #main_content{text-align: center;}
    .wedding_info_list.row{margin:0;}
    .taking_info img{border: 2px solid #989ea7;border-radius: 3px;padding: 3px;margin-top:20px;text-align: center;}
    .taking_info .taking_text{line-height: 18px;padding:10px;font-family: "Microsoft Yahei";text-indent: 24px;text-align: left;}
    .temp_com {background: url(../images/ablout_line2.png) left bottom no-repeat;}
    .temp_title {background: url(../images/line_title2.png) left bottom no-repeat;padding: 30px 0 6px 10px;}
    .temp_two_text {background: url(../images/about_r_bg2.png) left no-repeat;}
    .about_box .about_left{text-align: left;}
    .about_box .about_right { width: 55%;margin-left:5%;text-align: left;}
    .temp_two_text div {
        padding: 7px 5px 0 25px;
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    .wedding_box li .pro_name{width:70px;height:70px;background-size: 70px 70px;margin:-35px 0 0 -35px;line-height:70px;overflow:hidden;}
    .about_left ul{margin-left:0px;}
    .temp_com .table_about{left: 60px;}
    .table_about .t_right{width: 65%;padding-left: 5%;}
    .pop_up_box{width: 676px;}
    #preview{width: 676px;}
    #spec-n1{width: 520px;}
    #spec-n1 .o-img{width: 520px;height: 540px;text-align: center;}
}
@media (min-width: 992px) and (max-width: 1200px) {
    .wedding_box li .pro_name{width:100px;height:100px;background-size: 100px 100px;margin:-50px 0 0 -50px;line-height:100px;overflow:hidden;}
    .about_left ul{margin-left:0px;}
}