@charset "gb2312";
/* CSS Document */

body{ font-size:12px; font-family:Arial, Helvetica, sans-serif; margin:0 auto; line-height:1.6; width:900px; color:#000;}
ul,dl,dd,h1,h2,h3,h4,h5,h6,form,p { padding:0; margin:0;}
ul{ list-style:none;}
a{ text-decoration:none; color:#444444; }
a:hover{ text-decoration:none; color:#F00;}
.all{clear:both;}

#heade{height:71px; width:900px;}
#toppic{ margin:15px 0px; float:left;}
#search{ float:right; margin-top:30px;}
#sea1{border:1px solid #eee; background:url(../images/2.jpg) 0 0 no-repeat; width:163px; height:19px;}
#sea2{background:url(../images/1.gif) 0 0 no-repeat; width:58px; height:23px; border:none; cursor:pointer;}
#banner{ margin-bottom:8px;}

/*切换*/
#left{ width:900px;}
#left1{ margin-right:8px; _margin-right:-3px; float:left; width:269px; height:255px;}
#den{ margin-top:6px;}
#den a{ margin:0 3px 0 0;}
/**/
#left2{ margin-left:275px; background:url(../images/6.jpg) 0 0 no-repeat;width:388px; height:255px; }
#left2-1{ width:370px; margin:0px 10px; border-bottom:1px dashed  #dcdcdc;}
#left2 h2{ font-size:18px; font-weight:bold; padding:20px 0 0 10px; color:#000;}
#left2 p{padding:5px 15px; color:#6e6e6e;}
#left2-2{width:370px;margin:0 10px 10px 10px;}
#left2-2 ul{ width:370px;}
#left2-2 ul li{ line-height:25px; background:url(../images/10.jpg) 5px 8px no-repeat; padding-left:25px; width:340px;}
#left2-2 span{ float:right; padding-right:10px; color:#579f11;}
#left3{ background:url(../images/side_bg.gif) 0 0 no-repeat; width:228px; float:right;}
#zi{ font-size:16px; padding:2px 10px; font-weight:bold;}
#zi span{ color:#F00;}
#left3-1{ width:208px; margin-left:10px;height:75px;border-bottom:1px dashed #dadada; background:url(../images/9.jpg) 12px 15px no-repeat;}
#left3-1 p{ padding:12px 0 0 75px; color:#777777;}
#left3-1 strong{ color:#333;}
#left3-1.no{ border-bottom:none; }
#left3-2{background:url(../images/side_bg.gif) 0 bottom no-repeat; height:2px;}

/*产品*/
#pro{ margin:8px 0; overflow:hidden;width:900px;}
#pro_left{float:left; width:664px;}
#pro_left1{border:1px solid #d2d2d2;width:664px; overflow:hidden; padding-bottom:15px;}
#pro_left1 p{ border-bottom:1px solid #dbdbdb; height:28px; font-weight:bold; font-size:18px; padding:5px 0 0 15px;}
#pro_left1 p span{ color:#ff4401;}
#pro_left1 ul{ width:664px;}
#pro_left1 ul li{ width:110px; float:left; margin:18px 0 0 19px; display:inline; text-align:center;}
#pro_left1 ul li a{ display:block;} 
#pro_left1 ul li img{ margin-bottom:5px;}
/*企业历史*/
#newscom{ width:664px; float:left;}
.newscom1{border:solid 1px #dbdbdb; margin-top:8px; width:328px;}
.newscom1 p{ border-bottom:solid 1px #dbdbdb; background:url(../images/11.jpg) 10px 10px no-repeat; padding:0 0 0 30px; height:30px; font-weight:bold; line-height:30px; font-size:16px; color:#444444;}
.newscom1 p span{ float:right; padding:8px 15px 0 0;}
.newscom1 dl { height:84px; overflow:hidden; margin:12px;}
.newscom1 dl dt { float:left; padding:1px; border:1px solid #d8d8d8;}
.newscom1 dl dd { float:right; width:188px; color:#888; line-height:1.5;}
.newscom1 dl dd a { display:block; margin-bottom:3px; color:#05a;}
.newscom1 ul { margin-top:10px;}
.newscom1 ul li { background:url(../images/10.jpg) 15px 5px no-repeat; padding-left:35px;line-height:1.7;}
.right{ float:right;}
.left{ float:left;}
/*使用回答*/
.pro_right{ width:228px; margin-left:669px; background:url(../images/side_bg.gif) 0 0 no-repeat;}
.pro_right p{ color:#444444; font-size:14px; font-weight:bold; line-height:33px; padding-left:10px;}
.pro_right p span{ color:#ff3300;}
.quest{ border-bottom:1px #dcdcdc dashed; margin:0 10px;}
.quest dl dt{ background:url(../images/quest.gif) 8px 10px no-repeat; padding-left:30px;height:30px; line-height:35px; color:#666666; font-weight:bold;}
.quest dl dd{ background:url(../images/quest1.gif) 8px 10px no-repeat;padding:0 0 10px 30px;color:#6e6e6e;}
.quest.no{ border-bottom:none;}
.quest2{ background:url(../images/side_bg.gif) 0 bottom no-repeat; height:2px;}
.aboutus{ margin-top:10px;}
/*底部*/
.bottom{ background:#afafaf; height:20px; width:900px; text-align:center; color:#FFF; height:30px; line-height:30px; font-weight:bold;}
#foot{ height:65px; text-align:center; line-height:30px; color:#666666;}