/*初始化样式*/
body, dl, dt, dd, ul, ol, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td, a {margin: 0;padding: 0;}
body {text-align: left;font-size: 12px;background: #e9ecf3;color:#333;}
ul, ol {list-style: none}
input, select, textarea {font-size: 12px;resize: none;outline: 0;}
img {border: 0;vertical-align: middle;}
table {border-collapse: collapse;border-spacing: 0}
a {text-decoration: none;color: #333;cursor: pointer; outline: none;}
a:hover {text-decoration: none;}
a:active {outline: none;star: expression(this.onFocus=this.blur());}
:focus {outline: 0;}
/*FF*/
/*清除浮动样式*/
.clearfix {zoom: 1;}
.clearfix:after {content: ".";clear: both;display: block;height: 0;visibility: hidden;}
.clearall {clear: both;}
.left {float: left;}
.right {float: right;}
/*detail*/
.user_pact{width:100%;background:#FFF;border-radius:10px;-moz-border-radius:10px;-webkit-border-radius:10px;padding-bottom:3em;}
.user_logo{margin:0 auto;padding:2.166666em 0 0.33333em;text-align:center;}
.user_pact h1{text-align:center;margin:0 auto;padding-bottom:1.2083333em;}
.user_con{padding:0 2.5em;font-family:"微软雅黑";}
.user_title,.rule_title{height:2.66666em;line-height:2.6666em;font-size:1.5em;}
.user_title{padding-top:0.722222em;}
.rule_title{padding-top:0.833333em;}
.user_con p,.rule_con,.rule_text{font-size:14px;line-height:1.71428em;}
.rule_con{padding-bottom:1.714258em;}