BODY {
	FONT-FAMILY: Tahoma, Arial; BACKGROUND: #453000; COLOR: #d7cea4; FONT-SIZE: 9pt
}
TABLE {
	FONT-FAMILY: tahoma, arial; FONT-SIZE: 9pt
}
TD {
	FONT-FAMILY: tahoma, arial; FONT-SIZE: 9pt
}
TR {
	FONT-FAMILY: tahoma, arial; FONT-SIZE: 9pt
}
A {
	COLOR: #ffb019; TEXT-DECORATION: none
}
A:hover {
	COLOR: #f7eec4; TEXT-DECORATION: none
}
HR {
	COLOR: #776622; size: 1
}
.pageheader {
	FONT-FAMILY: tahoma, arial; COLOR: #d7cea4; FONT-SIZE: 14pt; FONT-WEIGHT: bold
}
.pageheaderauthor {
	FONT-FAMILY: tahoma, arial; COLOR: #222222; FONT-SIZE: 10pt; FONT-WEIGHT: bold
}
.pageheadersub {
	FONT-FAMILY: Tahoma, Arial; COLOR: #d7cea4; FONT-SIZE: 13pt; FONT-WEIGHT: bold
}
.hdr {
	FONT-FAMILY: Arial; COLOR: white; FONT-SIZE: 0.95em
}
.main {
	FONT-FAMILY: arial; FONT-SIZE: 13px
}
.menu {
	FONT-FAMILY: tahoma, arial; COLOR: #d7cea4; FONT-SIZE: 11px
}
.menu:hover {
	COLOR: #ffffff; TEXT-DECORATION: none
}
.menusub {
	FONT-FAMILY: tahoma, arial; COLOR: #dccd53; FONT-SIZE: 11px
}
.menusub:hover {
	COLOR: #ffffff; TEXT-DECORATION: none
}
.menutitle {
	FONT-STYLE: italic; FONT-FAMILY: arial; COLOR: #ffb019; FONT-SIZE: 13px; FONT-WEIGHT: bold
}
.newsquote {
	FONT-SIZE: smaller
}
.newstitle {
	FONT-FAMILY: arial; COLOR: #d4b405; FONT-SIZE: 14px; FONT-WEIGHT: bold
}
.newsdate {
	FONT-STYLE: italic; FONT-FAMILY: arial; COLOR: #bbbbbb; FONT-SIZE: 16px; FONT-WEIGHT: bold
}
.newsby {
	FONT-STYLE: italic; FONT-FAMILY: arial; FONT-SIZE: 11px
}
.newsbody {
	FONT-FAMILY: arial; FONT-SIZE: 13px
}
.newsback {
	PADDING-BOTTOM: 0.9ex; BACKGROUND-COLOR: #ffcc66; PADDING-LEFT: 0.9ex; PADDING-RIGHT: 0.9ex; PADDING-TOP: 0.9ex
}
.quote {
	BORDER-BOTTOM: #999999 1px solid; PADDING-BOTTOM: 0.5ex; BORDER-RIGHT-WIDTH: 0px; FONT-STYLE: italic; PADDING-LEFT: 0.5ex; PADDING-RIGHT: 0.5ex; FONT-FAMILY: Helvetica, arial; BORDER-RIGHT-COLOR: #999999; FONT-SIZE: 13px; BORDER-LEFT-COLOR: #999999; BORDER-TOP: #999999 1px solid; BORDER-LEFT-WIDTH: 0px; PADDING-TOP: 0.5ex
}
.filetitle {
	PADDING-BOTTOM: 0.5ex; BACKGROUND-COLOR: #000080; PADDING-LEFT: 0.5ex; PADDING-RIGHT: 0.5ex; FONT-FAMILY: Helvetica, arial; COLOR: #ffffff; FONT-SIZE: 18px; FONT-WEIGHT: bold; PADDING-TOP: 0.5ex
}
.filesub {
	PADDING-BOTTOM: 0.5ex; BACKGROUND-COLOR: #ffcc00; PADDING-LEFT: 0.5ex; PADDING-RIGHT: 0.5ex; FONT-FAMILY: Helvetica, arial; COLOR: #fff; FONT-SIZE: 13px; FONT-WEIGHT: bold; PADDING-TOP: 0.5ex
}
.filelink {
	FONT-FAMILY: tahoma, arial; COLOR: #660033; FONT-SIZE: 13px
}
.filelink:hover {
	COLOR: #ff0000; TEXT-DECORATION: none
}
.tiny {
	FONT-SIZE: smaller
}
.lite {
	COLOR: black; FONT-SIZE: 11px; FONT-WEIGHT: bold
}
.backchoice {
	FONT-FAMILY: arial; COLOR: red; FONT-SIZE: 16px; FONT-WEIGHT: bold
}
.pagetitle {
	FONT-FAMILY: arial; COLOR: navy; FONT-SIZE: 16px; FONT-WEIGHT: bold
}
.pagesub {
	FONT-FAMILY: arial; COLOR: navy; FONT-SIZE: 16px; FONT-WEIGHT: bold
}
.feat {
	FONT-FAMILY: tahoma, arial; FONT-SIZE: 11px
}
.feattext {
	PADDING-BOTTOM: 0.2em; PADDING-LEFT: 0.2em; PADDING-RIGHT: 0.2em; FONT-FAMILY: arial; COLOR: #dddddd; FONT-SIZE: 11px; PADDING-TOP: 0.2em
}
.feattextheader {
	PADDING-BOTTOM: 0.2em; PADDING-LEFT: 0.2em; PADDING-RIGHT: 0.2em; FONT-FAMILY: arial; COLOR: #dddddd; FONT-SIZE: 11px; PADDING-TOP: 0.2em
}
.feattextheader:hover {
	PADDING-BOTTOM: 0.2em; PADDING-LEFT: 0.2em; PADDING-RIGHT: 0.2em; FONT-FAMILY: arial; COLOR: #ffb019; FONT-SIZE: 11px; PADDING-TOP: 0.2em
}
.featlinkheader {
	PADDING-BOTTOM: 0.2em; PADDING-LEFT: 0.2em; PADDING-RIGHT: 0.2em; FONT-FAMILY: arial; COLOR: #ff9933; FONT-SIZE: 11px; PADDING-TOP: 0.2em
}
.feattitle {
	FONT-STYLE: italic; FONT-FAMILY: arial; COLOR: navy; FONT-SIZE: 14px; FONT-WEIGHT: bold
}
.feattitle2 {
	FONT-FAMILY: arial; COLOR: #dddddd; FONT-SIZE: 12px
}
.feattitle3 {
	PADDING-BOTTOM: 0.1ex; FONT-STYLE: italic; PADDING-LEFT: 0.1ex; PADDING-RIGHT: 0.1ex; FONT-FAMILY: arial; COLOR: #ff0000; FONT-SIZE: 14px; FONT-WEIGHT: bold; PADDING-TOP: 0.1ex
}
.review {
	FONT-FAMILY: tahoma, arial; FONT-SIZE: 9px; FONT-WEIGHT: bold
}
.reviewtext {
	FONT-FAMILY: tahoma, arial; FONT-SIZE: 9px
}
.copyright {
	TEXT-ALIGN: center; FONT-FAMILY: arial; COLOR: #dddddd; FONT-SIZE: 10px
}
.footer {
	BORDER-BOTTOM: 1px; BORDER-LEFT: 1px; PADDING-BOTTOM: 5px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; FONT: 11px arial,sans-serif; BORDER-TOP: 1px; BORDER-RIGHT: 1px; PADDING-TOP: 5px
}
.faqnew {
	FONT-STYLE: italic; FONT-FAMILY: tahoma, arial; COLOR: #dddd33; FONT-SIZE: 10px; FONT-WEIGHT: bold
}
.faqsource {
	FONT-SIZE: 9px
}
.devquestion {
	FONT-FAMILY: tahoma, arial; COLOR: #dccd53; FONT-SIZE: 12px; FONT-WEIGHT: bold
}
.nonlink {
	COLOR: #ffb019; TEXT-DECORATION: none
}
.imageborder {
	BORDER-BOTTOM: #776622 1px solid; BORDER-LEFT: #776622 1px solid; BORDER-TOP: #776622 1px solid; BORDER-RIGHT: #776622 1px solid
}
.highlight {
	BACKGROUND-COLOR: #d7cea4; COLOR: black
}
.commentslink {
	FONT-SIZE: 10px
}
.tableborder {
	BORDER-BOTTOM: #776622 2px solid; BORDER-LEFT: #776622 2px solid; PADDING-BOTTOM: 2px; PADDING-LEFT: 2px; PADDING-RIGHT: 2px; BORDER-TOP: #776622 2px solid; BORDER-RIGHT: #776622 2px solid; PADDING-TOP: 2px
}
.questquote {
	COLOR: #dccd53
}
.accent {
	COLOR: #dccd53
}
.non-accent {
	COLOR: #d7cea4
}
.worldup {
	COLOR: #7acd1d; FONT-WEIGHT: bold
}
.worlddown {
	COLOR: red; FONT-WEIGHT: bold
}
.smalltext {
	FONT-SIZE: 8pt
}
.tabard {
	COLOR: #ffffff; FONT-SIZE: 15px; FONT-WEIGHT: bold
}
.diff-very-easy {
	COLOR: white
}
.diff-easy {
	COLOR: limegreen
}
.diff-medium {
	COLOR: gold
}
.diff-hard {
	COLOR: darkorange
}
.diff-very-hard {
	COLOR: red
}
.tooltip {
	BORDER-BOTTOM: #d7cea4 1px solid; BORDER-LEFT: #d7cea4 1px solid; BACKGROUND-COLOR: #000000; MARGIN: 2px; BORDER-TOP: #d7cea4 1px solid; BORDER-RIGHT: #d7cea4 1px solid
}
.tooltip_test {
	BORDER-BOTTOM: #d7cea4 1px solid; BORDER-LEFT: #d7cea4 1px solid; BACKGROUND-COLOR: #555555; MARGIN: 2px; WIDTH: auto; HEIGHT: auto; BORDER-TOP: #d7cea4 1px solid; BORDER-RIGHT: #d7cea4 1px solid
}
.popup {
	Z-INDEX: 10; POSITION: absolute; WIDTH: auto; HEIGHT: auto; VISIBILITY: hidden; TOP: 0px; LEFT: 0px
}
.hover-back {
	BACKGROUND-COLOR: #111111
}
.end-hover-back {
	BACKGROUND-COLOR: #000000
}
.button {
	BACKGROUND-COLOR: #000000; COLOR: #d7cea4
}
.row1 {
	BACKGROUND-COLOR: #000000
}
.row2 {
	BACKGROUND-COLOR: #111111
}
.tableheader {
	BACKGROUND-COLOR: #222222
}
